*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3{
	font-family: 'Arial';
	font-size: 14pt;
	letter-spacing: 1px;
	width: 100%;
	background: #2980b9;
	padding: 15px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

#container{
	background: #5d6d7e;
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

#container form{
	background: #fff;
	width: 500px;
	padding: 10px;

}

#container form img{
	width: 50%;
	height: 50%;
	margin: 15px auto;
	text-align: center;
	display: block;
	border-radius: 50%;
}

#container form input{
	width: 75%;
	padding: 5px;
	font-size: 16pt;
	display: block;
	margin: 25px auto;
	border-radius: 10px;
	border: 1px solid #85929e;
	text-align: center;
}

#container form input[type="submit"]{
	background: #5dade2;
	padding: 10px;
	color: #fff;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
}

.alert{
	font-family: 'Arial';
	font-size: 16px;
	text-align: center;
}
